<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Sisay Sarke", "https://github.com/sisws2000", class: "text-white" %></small>
    </div>
</footer>